[Desktop Entry]
Type=Application
Name=Messages
GenericName=Messages
Comment=
Exec=com.github.manexim.messages
Icon=com.github.manexim.messages
Categories=GNOME;GTK;Network;
X-GNOME-UsesNotifications=true
